.custom-form {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
  
	h2 {
	  text-align: center;
	  margin-bottom: 20px; /* Ajout de marge en bas */
	}
  
	.form-group {
	  margin-bottom: 20px; /* Augmentation de l'espace entre les groupes de formulaire */
  
	  label {
		display: block;
		margin-bottom: 5px;
		font-weight: bold;
	  }
  
	  input {
		width: 100%;
		padding: 10px; /* Ajustement de la taille du padding */
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 5px; /* Ajout de marge en haut */
	  }
  
	  checkbox {
		margin-right: 5px;
	  }
	}
  
	button {
	  width: 100%;
	  padding: 12px; /* Ajustement de la taille du padding */
	  background-color: #c852c8;
	  color: white;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	  transition: background-color 0.3s ease; /* Ajout d'une transition pour l'effet hover */
	  margin-top: 10px; /* Ajout de marge en haut */
	  justify-content: center;
	  align-items: center;
		
	}
  
	button:hover {
	  background-color: #c852c8; /* Changement de couleur au survol */
	}
  }
  