<app-header></app-header>

<div class="content" role="main">
  <app-actions></app-actions>
  
</div>


<!-- <app-action-list [filter]="actionFilter"></app-action-list>

<div>
    <label for="actionFilter">Filtrer les actions par :</label>
    <select [(ngModel)]="selectedFilter" (ngModelChange)="updateFilter()">
      <option value="name">Nom</option>
      <option value="objective">Objectif</option>
      <option value="responsible">Responsable</option>
    </select>
    <input type="text" id="actionFilter" [(ngModel)]="actionFilter" />
</div> -->

<app-footer></app-footer>
